<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MUDSIL</title>
    <!-- Custom fonts for this template-->
<!--    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">-->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.css" rel="stylesheet">
    <link href="../static/css/01_inflow_page.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->
    
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">MUDSIL</div>
            </a>            

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                {% if user.is_authenticated %}
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>{{user.username}}</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="{% url 'account_logout' %}">
                            로그아웃
                        </a>
                        <a class="collapse-item" href="#">
                            환경설정
                        </a>
                    </div>
                </div>
                {% else %}
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>LOGIN</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="{% url 'account_login' %}">
                            로그인
                        </a>
                        <a class="collapse-item" href="{% url 'account_signup' %}">
                            회원가입
                        </a>
                    </div>
                </div>
                {% endif %}
            </li>

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/assayw119/Trend_Analysis_and_Recommendation_System_Project" target="_blank">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>ABOUT</span>
                </a>
            </li>

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-table"></i>
                    <span>MY PAGE</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->

        <form id="content-wrapper" class="form-subscribe d-flex flex-column" id="contactForm" data-sb-form-api-token="API_TOKEN" action="{% url 'main:showresultall' %}" method="GET">
        {% csrf_token %}
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <hr class="content_divider">
                <div id="content" style="text-align: center; margin-bottom: 30px;">
                    <header class="masthead">
                        <!-- Page heading-->
                        <h1 class="mb-5">주소를 설정해주세요.</h1>
                        
                        <div class="row justify-content-center text-center">
                            <div>
                                <select name='sido' id="sido" style="width: 120px;">
                                    <option value="">시/도</option>
                                </select>
                                <select name='sigugun' id="sigugun" style="width: 120px;">
                                    <option value="">시/구/군</option>
                                </select>
                                <select name='dong' id="dong" style="width: 120px;">
                                    <option value="">읍/면/동</option>
                                </select>
                            </div>
                        </div>
                        
                    </header>
                </div>
                <hr class="content_divider">
                <!-- Main Content -->
                <div id="content" class="text-center" style="margin-bottom: 30px;">
                    <header class="masthead">
                        
                        <!-- Page heading-->
                        <h1 class="mb-5">선호하는 음식을 선택해주세요.</h1>
                        
                        <select class="form-select text-center" name="food" id="floatingSelectGrid" aria-label="Floating label select example">
                            <option selected>전체</option>
                            <option value="1">돈까스/회/일식</option>
                            <option value="2">중식</option>
                            <option value="3">치킨/피자</option>
                            <option value="4">백반/죽</option>
                            <option value="5">라면/국수/냉면</option>
                            <option value="6">라이스/볶음밥/덮밥</option>
                            <option value="7">카페/브런치/디저트</option>
                            <option value="8">호프/맥주</option>
                            <option value="9">분식/떡볶이</option>
                            <option value="10">고기/구이/족발</option>
                            <option value="11">양식</option>
                        </select>
                    </header>
                </div>

                <hr class="content_divider">
                <!-- Main Content -->
                <div id="content" class="text-center" style="text-align: center;">
                        
                    <!-- Page heading-->
                    <h1 class="mb-5">선호하는 분위기를 선택해주세요.</h1>
                    <button class="btn btn-outline-dark flex-shrink-0 mb-5" onclick="imageReload()">
                        이미지 새로고침
                    </button>
                    <div id="imageContent" style="text-align: center;">
                        {% for i in cluster_imgs %}
                        {% if i != None %}
                        <label>
                            <input type="radio" name="inner_img" value="{{forloop.counter0}}">
                            <img src="{{i.img_summary}}" id="img_mood" name="{{i.id_num}}" class="cluster-img" style="display: inline-block; text-align: center;">
                        </label>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <hr class="content_divider">
                <!-- End of Main Content -->
                <div class="col text-center">
                    <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
                </div>
            

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>2022-1 Data Science Capston Design</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
        </form>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../static/demo/chart-area-demo.js"></script>
    <script src="../static/demo/chart-pie-demo.js"></script>

    <!-- Bootstrap core JS-->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js" type="application/javascript"></script>
    <script type="application/javascript" src="../static/hangjungdong.js"></script>

    <script>
        function imageReload() {
            event.preventDefault();
            $('#imageContent').load(location.href+' #imageContent')
        }
    </script>

    <!-- Core theme JS-->
    <script src="../static/scripts.js"></script>
    <script src="../static/01_inflow_page.js?a"></script>
</body>

</html>